body {
  background: #f2f2f2;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.buttons button {
  width: 48%;
  padding: 10px;
  margin: 5px 1%;
  border: none;
  background: dodgerblue;
  color: white;
  border-radius: 5px;
}

.downloadBtn {
  background: green;
  color: white;
  padding: 12px;
  display: block;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 6px;
}
